<div class="users-login-signup-form">

  <div class="main">
    <div class="login-form">
      <h2 class="signup-text">新規登録</h2>
      <%=form_tag("/users/create") do %>
        <input type="text" name="name" placeholder="名前"><br>
        <input type="text" name="email" placeholder="メールアドレス"><br>
        <input type="password" name="password" placeholder="パスワード"><br>
        <input type="submit" class="btn signup-button" value="登録">
      <% end %>
    </div>
  </div>
</div>