// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* 定義 */
$main: #f5e4c4;
  
/* ここからloginとsignup */

.users-login-signup-form {
  
  .login-form {
    background-color: #6e5b3b;
    width: 350px;
    padding: 30px 50px;
    margin: 100px auto;
    text-align: center;
    border-radius: 15px;
    
    p {
      color: white;
      line-height: 12px;
    }
    
    h1 {
      font-size: 40px;
      letter-spacing: 7px;
      color: white;
      font-family: monospace;
      line-height: 10px;
      margin-bottom: 50px;
    }
    
    h2 {
      color: white;
      font-size: 30px;
      margin-top: 5px;
      margin-bottom: 20px;
      letter-spacing: 5px;
      font-weight: normal;
    }
    
    img {
      margin-bottom: 10px;
      width: 280px;
    }
    
    .btn {
      cursor: pointer;
      margin-top: 10px;
      padding: 10px;
      border-style: none;
      background-color: white;
      border-radius: 2px;
    }
  }
  
  input {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 15px;
    padding: 5px 0px;
    width: 300px;
  }
  
}

/* ここまでlodinとsignup */



/* ここからsetting */

.users-setting{
  
  ul {
    margin: 0;
    padding: 0;
  }
  
  .setting-tabs {
    
    .setting-tab {
      float: left;
      font-size: 15px;
      line-height: 50px;
      width: 180px;
      margin: 0;
      text-align: center;
      
      &:first-child {
        border-radius: 30px 0 0 0;
      }
    }
    
    .white-tab {
      background-color: white;
    }
    
    .gray-tab {
      margin: 0;
      display: inline-block;
      background-color: lightgray;
    }
    
  }
  
  .setting-list {
    clear: both;
    margin: 0 auto;
    background-color: white;
    padding: 50px;
    border-radius: 0 0 40px 40px;
    border-bottom: 1px solid silver;
    
    input {
      font-size: 15px;
    }
    
    .profile-images {
      height: 120px;
      width: auto;
    }
    
    h3 {
      cursor: pointer;
      line-height: 60px;
      margin: 0;
    }
    
    li {
      padding-top: 10px;
      margin: 10px 0;
      font-size: 17px;
    }
    
    textarea.profile-text {
      border-color: silver;
      width: 500px;
      height: 200px;
      font-size: 15px;
    }
    
    .setting-btn {
      background-color: #6e5b3b;
      width: 100px;
      height: 40px;
      font-size: 20px;
      border-radius: 20px;
      color: white;
      margin: 60px 50px 0px 50px;
    }
    
    .empty {
      padding: 10px;
    }
    
    .setting-box {
      padding-bottom: 50px;
      color: black;
      
      a {
        color: inherit;
      }
    }
  }
  
}

/* ここまでsetting */